@model IEnumerable<EmployeeTimeLog.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Employees</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Search"> 
            <div class="form-group col-md-12">
                <input name="searchText" class="col-md-6" />     <input type="submit" value="Search" class="btn btn-primary col-md-4" />
            </div>           
            @*<div class="form-group">
              
            </div>*@
        </form>
    </div>
</div>
<br />
<br />
<p>
    <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>          
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
